<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <!-- Iconos Jamicons -->
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">
    <!-- Para iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- EDGrid -->
    <link href="https://unpkg.com/ed-grid@3.0.0/src/css/ed-grid.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

    <!-- Estilos propios -->
    <link rel="stylesheet" href="../assets/css/variables.css">
    <link rel="stylesheet" href="../assets/css/baseStyles.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/nav-movile.css">
    <link rel="stylesheet" href="../assets/css/bottomNav.css">
    <link rel="stylesheet" href="../assets/css/bottomNavFloat.css">
    <link rel="stylesheet" href="../assets/css/banner.css">
    <link rel="stylesheet" href="../assets/css/buttons.css">
    <link rel="stylesheet" href="../assets/css/carousel.css">
    <link rel="stylesheet" href="../assets/css/cards.css">
    <link rel="stylesheet" href="../assets/css/inputs.css">
    <link rel="stylesheet" href="../assets/css/table.css">
    <link rel="stylesheet" href="../assets/css/accordion.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/multimedia.css">
    <link rel="stylesheet" href="../assets/css/dropMenu.css">
    <link rel="stylesheet" href="../assets/css/searchMovile.css">
    <link rel="stylesheet" href="../assets/css/avatarMenu.css">

    <!-- Icono -->
    <link rel="icon" type="image/svg" href="../svg/mapis/icon-mapi.svg">
    <title>Componentes</title>
</head>

<body>
    <!-- Carruceles -->
    <section class="section-container">
        <h1 class="carousel__anterior">Carruceles</h1>
        <div class="carousel">
            <div id="carousel_4" class="carousel__contenedor">
                <!-- Botón izquierdo -->
                <button aria-label="Anterior" class="carousel__anterior">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <!-- Lista de contenido del carrucel(minimo deben haber 6) -->
                <!-- El contenido puede ser cualquier card -->
                <div class="carousel__lista">
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                    <article class="carousel__elemento card-carousel">
                        <a href="#">
                            <div class="s-ratio-16-9">
                                <img class="s-radius-1" src="https://ed-grid.com/assets/img/og-image.jpg"
                                    alt="card-carousel">
                            </div>
                        </a>
                    </article>
                </div>

                <button aria-label="Siguiente" class="carousel__siguiente">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <!-- Iconos que indican en que posición del scroll estas -->
            <div role="tablist" class="carousel__indicadores"></div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="../assets/js/carousel.js"></script>
</body>

</html>