.imageUserBefore{
    border-radius: 100px;
    border: 2px solid rgb(5, 10, 5);
}

.bloqueImage{
    margin-bottom: 10px;
    margin-left: 35px;
}

.lblBefore{
    color: black;
    margin-left: 20px;
}

#btnReturn{
    color: black;
    margin-left: 65px;
    width: 150px;
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
}